@media (prefers-color-scheme: dark) {

    body,
    body div {
        background-color: #234 !important;
        color: #fff;
    }

    main .post__title a,
    #header a {
        color: #fff !important;
    }
}