@media (prefers-color-scheme: dark) {

    body,
    body div {
        background-color: #234 !important;
        color: #fff;
    }

    .mobile-menu {
        background: #212121;
        opacity: 0.6;
    }

    .mobile-menu .mobile-menu-list {
        border-top: 1px solid #343434;

        .mobile-menu-item {
            border-bottom: 1px solid #343434;
        }

    }

    main .post__title a,
    #header a {
        color: #fff !important;
    }

    main .about blockquote,
    main .post blockquote {
        color: #fff !important;
        border-left: 3px solid #8d3b6cd8;
        background: #212121;
    }

    main .about code,
    main .post code {
        color: silver !important;
        font-style: italic;
    }

    main .pagination>a {
        color: $main-colour !important;
    }
}